<%= stylesheet_link_tag "post.css" %>

   
<div class="container-fluid text-center">    
  <div class="row content">

  <div>vgucvg</div>
    <div class="col-sm-3 ">
    <p><%= @user.f_name %></p>
    <p><%= @user.l_name %></p>
    <p> <%= @user.email %></p>
    <p><%= @user.date_of_birth %></p>
    <p>  <%= @user.gender %></p>
    
    </div>

    <div class="col-sm-5 text-left"> 

     <div class="create_new_blog">
     <div></div>
     <div  style="height:40px" > <%= image_tag('profile.png' , :size =>'40x40', :alt =>'logo' ) %></div> 
      <div class="example" > Whats your mind</div>
      


     </div>

    
    <% @post.each do |post| %>  
      <div class ="main_content">
      <h4 style=" padding: 3px 0px 0px 15px;"> <%= link_to post.author, post  %> </h4>
      <p style=" border-top: 1px solid rgb(199, 195, 195); padding: 10px;"><%= post.description %></p>
      <div  style=" padding: 10px;">
       <%= post.comments.count %>
      </div>

    
      <div  style=" display: flex; 
       padding: 10px  50px 15px 50px;
       border-top: 1px solid rgb(199, 195, 195);
      justify-content: space-between !important"> 
      <span><%= link_to 'Like',post%></span>
      <span><%= link_to 'Comment',edit_post_path(post)%>
      </span>
      <span><%= link_to 'Share', post, method: :Delete, data: {confirm: "Are you sure ?"}%></span>
      </div>
      </div>
      
      <% end %>
    </div>
    <div class="col-sm-4 ">
    </div>
    
  </div>
</div>














